<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ManualRamosAddon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ManualRamosAddon.Properties.Settings>
            <setting name="F1Oxide" serializeAs="String">
                <value>Fe2O3</value>
            </setting>
            <setting name="F1MaxDelta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F1FeederNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F2Oxide" serializeAs="String">
                <value>Fe2O3</value>
            </setting>
            <setting name="F2MaxDelta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F2FeederNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F3Oxide" serializeAs="String">
                <value>Fe2O3</value>
            </setting>
            <setting name="F3MaxDelta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F3FeederNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumFeeders" serializeAs="String">
                <value>0</value>
            </setting>
        </ManualRamosAddon.Properties.Settings>
    </userSettings>
</configuration>
